crewai
crewai_tools
load_dotenv
langchain-groq
google-generativeai
assemblyai
youtube-transcript-api
yt_dlp
whisper

#
langchain-google-vertexai
pyautogen
tqdm
ipywidgets
PyPDF2
pandas
plotly
streamlit
fastembed

watchdog
langchain-chroma
flashrank

summarizer
gradio